<div class="container header-contianer">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8 header-left">
            <h1>James Grant</h1>
            <h2>Full Stack &amp; Mobile Developer</h2>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 header-right">
            <ul class="icons">
                <li>
                    <a target="_blank" href="http://jwgmedia.co.uk" class="button button--sacnite button--round-l">
                        <i class="fa fa-globe"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://twitter.com/sproogen" class="button button--sacnite button--round-l">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/sproogen" class="button button--sacnite button--round-l">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://uk.linkedin.com/in/jameswgrant" class="button button--sacnite button--round-l">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            </ul>
            <p>Email:
                <a href="mailto:james@jwgmedia.co.uk" target="_blank">james@jwgmedia.co.uk</a>
            </p>
            <p>Web:
                <a href="http://www.jwgmedia.co.uk" target="_blank">www.jwgmedia.co.uk</a>
            </p>
        </div>
    </div>
</div>